BOT_TOKEN=
ADMIN_IDS=

DB_PASSWORD=
DATABASE_URL=postgresql+asyncpg://cardbot:${DB_PASSWORD}@db:5432/cardbot

YUKASSA_SHOP_ID=
YUKASSA_SECRET_KEY=

BITREFILL_API_KEY=
RELOADLY_CLIENT_ID=
RELOADLY_CLIENT_SECRET=

ENCRYPTION_KEY=

REDIS_URL=redis://redis:6379

WEBAPP_URL=https://atlasnumberone.netlify.app
